@tailwind base;
@tailwind components;
@tailwind utilities;

.header img{
    display: flex;
    justify-content: left;
}
.header{
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    padding: 10px;
}
